*{
    padding:0px;
    margin:0px;
}

main{
    height: 100vh;
    width:100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: beige;
}
.container{
    border-radius: 5%;
    height:60%;
    width:50%;
    min-width:300px;
    display: flex;
    
    flex-direction: column;
    gap: 5rem;
    
    align-items: center;
    justify-content:center;
    background-color: azure;

}

.timer{
    font-family:cursive;
    border-radius:5%;
    background-color: yellow;
   font-size:xx-large; 
   font-weight: bolder;
    padding: 0.5rem;
   border: 2px solid black;
}

.timer-controller button{
    margin: 5px;
    height: 2.5rem;
    width: 4rem;
    font-size: larger;
    padding: 5px;
}

.heading{
    font-weight: bold;
    font-family:monospace;
    /* color:chocolate */
}